body{
text-align: center;}
font-family:"Arial"
font-family:"Arial"
margin-right:300px;
margin-left:300px;
}

p{
text-align: center;}
font-family:"Arial"
font-family:"Arial"
margin-right:300px;
margin-left:300px;
}